.EventItem-template {
  display:flex;
  flex-direction: column;
  justify-content:center;
  background: #7986CB;
  width: 90%;
  height:70px;
  margin: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-top : 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 3px;
}

.isToday{
  background: #7986CB;
}

.isToday:hover{
  background: #8c9bed;
}

.isPastday{
  background: #b8bbcd;
}

.isPastday:hover{
  background: #e4e4e4;
}

.isFutureday{
  background: #7986CB;
}

.isFutureday:hover{
  background: #8c9bed;
}

/* .EventItem-template:hover{
  background: #8a98e6;
} */


.EvenItem-time {
  padding : 0rem;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 100;
  font-family: Roboto, Helvetica, Arial;
  font-weight: 500;
  background: rgba(255, 255, 255, 0);
  color:#fff;


}

.EvnetItem-location {
  padding : 0rem;
  font-size: 1.2rem;
  text-align: center;

  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: rgba(#ffffff, 0);
  color:#fff;

}

.EventItem-title{
  padding : 0.2rem;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(#ffffff, 0);
  color:#fff;
  white-space: nowrap;
}
