.BarForm-template{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  width: 70%;
  background: rgb(59, 255, 0);
  height: auto;
  margin-top: 1rem;
}
