.ButtonForm-template{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 50%;
  height: 80%;

  margin-right: 25%;

  background: rgb(218, 27, 27);

}
