.ButtonDropDown-template{
  display: inline-block;
  width: 8rem;
  cursor: pointer;
  font-weight: 500;
  margin-right: 3rem;
  background: #bdbdbd;
  text-align: center;
  font-family: Helvetica;

}
