.MonthText-template{
  display: flex;
  flex-direction: row;

}

.MonthText-month{
  font-size: 2rem;
  font-weight: 400;
  opacity: .54;
  white-space: nowrap;
  font-family: Helvetica;
  margin-right: 1rem;
}

.MonthText-year{
  font-size: 2rem;
}
