.TodayButton-template{
  margin-right: 20%;


}

.TodayButton-test :focus{
  outline: none;
}

.TodayButton-button{
  display: inline-block;
  opacity: .7;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  font-family: Helvetica;
  cursor: pointer;  

  background-color: #ddd;
}
